/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;

    background: linear-gradient(90deg, #29323C 0%, #485563 100%);
    height: 100%;

}




.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    margin-left: auto;
    margin-top: auto;

    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    opacity: 0.9;



    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);


    z-index: 3;

}

.wrapper .title {
    color: #fff;
    line-height: 65px;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
}

.wrapper .box {
    padding: 20px 30px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .box label {
    display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
    transition: all 0.3s ease;
}

.wrapper .box button {
    display: flex;
    height: 53px;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper .box button .text {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s ease;
    justify-self: center;
}

#option-1:checked~.option-1,
#option-2:checked~.option-2,
#option-3:checked~.option-3,
#option-4:checked~.option-4 {
    background: #333;
    border-color: #333;
}

.wrapper .box label .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
}

#option-1:checked~.option-1 .dot,
#option-2:checked~.option-2 .dot,
#option-3:checked~.option-3 .dot,
#option-4:checked~.option-4 .dot {
    background: #fff;
}

.box label .dot::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#option-1:checked~.option-1 .dot::before,
#option-2:checked~.option-2 .dot::before,
#option-3:checked~.option-3 .dot::before,
#option-4:checked~.option-4 .dot::before {
    background: #333;
    transform: translate(-50%, -50%) scale(1);
}

.wrapper .box label .text {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    transition: color 0.3s ease;
}

#option-1:checked~.option-1 .text,
#option-2:checked~.option-2 .text,
#option-3:checked~.option-3 .text,
#option-4:checked~.option-4 .text {
    color: #fff;
}

.wrapper .box input[type="radio"] {
    display: none;
}

.wrap {
    position: relative;
}

.grid {
    width: 400px;
    height: 600px;
    background: url('../img/background.webp');
    position: relative;

    font-size: 200px;
    color: #46AEF7;
    text-align: center;

    box-shadow: black 0px 1px 15px 2px;
    border-radius: 5px;

    overflow: hidden;
    position: relative;
}

.score {
    color: rgb(196, 0, 0);
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.doodler {
    width: 60px;
    height: 85px;
    background-image: url('../img/oleg.webp');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
    position: absolute;

    border-radius: 10px;
}

.start-btn {
    min-height: 60px;
    width: 200px;
    margin-top: -100px;

    visibility: hidden;

    z-index: 3;

    background-color: #333;
    border-radius: 10px;


    color: white;

    text-transform: uppercase;
    text-align: center;
    font-weight: 700;

}

.btn:active {
    background-color: #46AEF7;
}

.container__row {
    display: flex;
    width: 100%;
    justify-content: center;
}


.play-music {
    width: 50px;
    height: 50px;
    margin-right: -600px;
}

.settings-btn {
    width: 50px;
    height: 50px;
    background: url('../img/settings-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 25px;
}

.off {
    background: url('../img/volume-mute.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.on {
    background: url('../img/volume.png');
    background-size: contain;
    background-repeat: no-repeat;
}