/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(70, 70, 70);
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main-row {
    display: flex;
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    flex: 0 1 320px;
    border-radius: 20px;
    background-color: gray;
    padding: 20px;
    overflow: hidden;
}

.title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;

}

@media only screen and (max-width: 670px) {
    .panel {
        display: none;
    }
}


.settings__options {
    overflow: hidden;

    display: flex;
    flex: 0 1 fit-content;
    flex-direction: column;
    background-color: rgb(91, 91, 91);
    padding: 20px 10px;
    margin: 0 -10px;
    border-radius: 10px;

}

.settings__option {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
}

.settings__option:last-child {
    margin: 0;
}

.settings__option label {
    display: inline-block;
    width: 120px;
    margin-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}

.settings__option input {
    align-self: center;
}


#canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    background: #fffacc;
    border-radius: 20px;
    background: url('./images/background.png');
    background-size: contain;
}

.start-btn {
    display: block;

    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid black;

    margin: 20px auto;

    text-transform: uppercase;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.skin-bar__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    background-color: rgb(91, 91, 91);
    padding: 20px 0;
    border-radius: 20px;
}

.skin-bar__option {
    display: block;
    width: 50px;
    height: 80px;
    background-color: black;
    border-radius: 10px;
    font-size: 0px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.skin-bar__option:hover {
    transform: scale(1.1);
    box-shadow: inset black 0 0 7px 1px;
}

.skin-bar__option:active {
    transform: scale(0.95);
}

#selected {
    transform: scale(1.1);
    box-shadow: #EDE1D3 0 0 10px 1px;
    cursor: default;
}